.post {
    background: var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.6);
    border: 5px solid var(--secondary-color)
}

.post:hover {
    background-color: var(--fourth-color);
}

.postHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postHeader i {
    color: var(--tertiary-color);
}

.postHeader h4 {
    padding-left: 10px;
    color: var(--secondary-color);
}

.postAvatar img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--tertiary-color)
}

.postBody {
    padding: 10px 0 10px 0;
    border-top: 1px dotted var(--tertiary-color);
    margin-top: 10px;
    color: var(--tertiary-color);
}

.postBody a {
    color: var(--secondary-color);
}

.postBody a:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.postFooter {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postFooter button, .postCheckDelete button {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.postFooter button:hover, .postCheckDelete button:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color)
}

.postCheckDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.postCheckDelete p {
    color: var(--tertiary-color);
    text-transform: uppercase;
    font-weight: bold;
}

.postDate {
    font-size: 12px;
    font-style: italic;
}

.likes {
    color: var(--tertiary-color);
    margin-left: 10px;
    font-size: 12px;
}

.listLikes {
    color: var(--tertiary-color);
    margin-left: 10px;
    font-size: 12px;
}

.postFooter .btn:disabled {
    background-color: rgba(0,0,0, 0.3);
    cursor: not-allowed;
}

/*  Medium Screens */
@media (max-width: 800px) {
    .postFooter {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    .postFooter button {
        margin-top: 25px;
    }
  }