.header {
    background-color: var(--primary-color);
    border-top: 7px solid var(--secondary-color);
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    margin-bottom: 40px;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    width: 230px;
}

.logo img {
    width: 100%;
}

.menu ul {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}

.menu li:last-child a {
    background-color: var(--secondary-color);
    border-radius: 25px;
    padding: 15px;
    border: 2px solid white;
}

.menu li:last-child a:hover {
    background-color: var(--tertiary-color);
    border-radius: 25px;
    border-bottom: none;
    color: var(--secondary-color);
}

.menu a {
    color: var(--tertiary-color);
    margin: 15px;
    padding-bottom: 5px;
}

.menu a:hover {
    border-bottom: 7px solid var(--tertiary-color);
}

/* Mobile */
@media(max-width: 600px){
    .flexHeader {
        height: 130px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 13px;
    }
}