.footer {
    background-color: var(--secondary-color);
    color: white;
    border-top: 7px solid var(--primary-color);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer a {
    color:  var(--primary-color);
    text-decoration: underline;
}

.footer a:hover {
    color: var(--tertiary-color);
}