.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.3);
    padding: 30px;
    margin: 10px auto;
    width: 50%;
}

.card h2 {
    text-align: center;
}

.formControl {
    margin: 30px 0;
}

.card input[type="text"],
.card input[type="password"],
.card input[type="email"] {
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.card input:focus {
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
}

.card .btn {
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
}

.card .btn:hover {
    background: var(--primary-color);
}

.card .btn:disabled {
    background-color: rgba(0,0,0, 0.3);
    cursor: not-allowed;
}

.footer {
    padding: 20px;
    text-align: center;
}

.footer a {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.errorMsg {
    padding: 20px;
    background-color: red;
    color: wheat;
    text-transform: uppercase;
    font-weight: bold;
}

.successMsg {
    padding: 20px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.imageUploaded {
    margin: 20px;
}

/* Mobile */
@media(max-width: 600px){
    .card {
        width: 90%;
    }
}